<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-color: #000;
        }
    </style>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        Swal.fire({
            position: '<%= position %>',
            icon: '<%= icon %>',
            title: '<%= title %>',
            showConfirmButton: '<%= showConfirmButton %>'
        }).then(() => {
            window.location = '<%= ruta %>'
        })
    </script>

</body>

</html>